body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.container {
  float: left;
  clear: both;
  width: 80%;
  height: 600px;
  margin: 21px 0 0 10%;
  border: 1px solid rgb(0, 0, 0);
}

.image {
  display: block;
  width: 278px;
  height: auto;
  margin: 8px auto 0;
  overflow: hidden;
}