.odu_i_content_area {
  margin: 0px auto 0px auto;
  font-size: 14px;
  width: 70%; }
  .odu_i_content_area h4 {
    font-size: 14px;
    line-height: 140%;
    font-weight: 100; }

.odu_i_row {
  margin: 0px auto 0px auto;
  clear: both; }

.odu_i_attention {
  padding: 10px;
  background: #ffefd5; }

.odu_i_clear {
  clear: both; }

.odu_i_hidden {
  display: none; }

.odu_i_screen_reader_label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.odu_i_button, .odu_i_button_small, .odu_i_button_error, .odu_i_button_retry {
  font-size: 14px;
  background: #337ab7;
  border: 0px;
  padding: 8px 18px;
  margin: 0px 3px 0px 3px;
  text-align: center;
  display: inline-block;
  opacity: 1.90;
  color: white;
  filter: alpha(opacity=80);
  border-radius: 4px; }

.odu_i_button_small {
  padding: 6px 12px;
  margin: 0px 2px;
  font-size: 12px; }

.odu_i_button_error {
  background: #dc143c; }

.odu_i_button_retry {
  background: #228b22; }

.odu_i_button:hover, .odu_i_button_small:hover, .odu_i_button_error:hover, .odu_i_button_retry:hover {
  background: #337ab7;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

.odu_i_button_retry:hover {
  background: #228b22; }

.odu_i_button_error:hover {
  background: #dc143c; }

.odu_i_panel, .odu_i_panel_success, .odu_i_panel_error, .odu_i_panel_retry {
  margin: 10px auto; }

.odu_i_panel_header, .odu_i_panel_content {
  background: #337ab7;
  padding: 10px;
  color: white;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #337ab7; }

.odu_i_panel_content {
  background: white;
  color: black;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px; }

.odu_i_panel_success .odu_i_panel_header, .odu_i_panel_success .odu_i_panel_content {
  background: #D9EDF7;
  border: 1px solid #D9EDF7;
  color: #0a68db; }
.odu_i_panel_success .odu_i_panel_content {
  border: 1px solid #D9EDF7;
  background: white;
  color: black; }

.odu_i_panel_error .odu_i_panel_header, .odu_i_panel_error .odu_i_panel_content {
  background: #F2DEDE;
  border: 1px solid #F2DEDE;
  color: #7c0101; }
.odu_i_panel_error .odu_i_panel_content {
  border: 1px solid #F2DEDE;
  background: white;
  color: black; }

.odu_i_panel_retry .odu_i_panel_header, .odu_i_panel_retry .odu_i_panel_content {
  background: #DFF0D8;
  border: 1px solid #DFF0D8;
  color: #247702; }
.odu_i_panel_retry .odu_i_panel_content {
  border: 1px solid #DFF0D8;
  background: white;
  color: black; }

/*multiple-choice styles*/
.odu_i_mc .odu_i_panel_success, .odu_i_mc .odu_i_panel_error, .odu_i_mc .odu_i_panel_retry {
  width: 75%; }

.odu_i_mc fieldset, .odu_i_mc legend {
  margin-bottom: 10px;
  padding: 0px;
  border: none 0px;
  /*remove the border of fieldset*/
  font-size: 14px; }

.odu_i_mc_item {
  margin-left: 10px;
  clear: both; }

.odu_i_mark_area, .odu_i_mc_item input[type=radio], .odu_i_mc_item label {
  float: left;
  cursor: pointer; }

.odu_i_mark_area {
  width: 15px; }

.odu_i_mc_item label {
  width: 80%; }

.odu_i_add_margin_bottom {
  margin-bottom: 10px; }

.odu_i_mc_key, .odu_i_score_total {
  font-weight: bold; }

.odu_i_mc_item {
  background: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #D3D3D3; }

.odu_i_display_score, .odu_i_start_over, .odu_i_mc_item {
  display: none; }

.odu_i_score {
  color: forestgreen;
  font-weight: bold; }

/*# sourceMappingURL=interactive_styles.css.map */
