//------------------------
//COLORS
//-----------------------
 
//GRAYS
$white: rgba(255, 255, 255, 1);				//#FFFFFF
$xxLiteGray: rgba(252, 252, 252, 1);		//#FCFCFC
$xLiteGray: rgba(250, 250, 250, 1);			//#FAFAFA
$liteGray: rgba(200, 200, 200, 1);			//#C8C8C8
$mediumGray: rgba(125, 125, 125, 1);		//#7D7D7D
$darkGray: rgba(80, 80, 80 ,1);				//#505050
$almostBlack: rgba(5, 5, 5, 1);				//#050505
$black: rbga(0, 0, 0, 1);					//#000000

$odu_liteRed: rgba(255, 186, 186, 1);		//#FFBABA
$odu_red: rgba(190, 30, 45, 1); 			//#BE1E2D
$odu_orange: rgba(255, 140, 0, 1);			//#FF8C00
$odu_liteYellow: rgba(255, 253, 217 ,1);	//#FFFDD9
$odu_yellow: rgba(255, 255, 153, 1);		//#FFFF99
$odu_gold: rgba(245, 176, 65, 1);			//#F5B041
$odu_liteGreen: rgba(212, 254, 204, 1);		//#D4FECC	
$odu_limeGreen: rgba(207, 255, 15, 1);		//#CFFF0F	console text
$odu_green: rgba(105, 167, 39, 1);			//#69A727
$odu_darkGreen: rgba(12, 96, 6, 1);			//#0c6006
$odu_xLiteBlue: rgba(240, 248, 255, 1);		//#f0f8ff
$odu_liteBlue: rgba(189, 229, 248, 1);		//#BDE5F8
$odu_mediumBlue: rgba(43, 57, 144, 1);		//#2B3990
$odu_darkBlue: rgba(17, 41, 66, 1);			//#112942
$odu_briteBlue: rgba(68, 136, 246, 1);		//#4488f6
$odu_purple: rgba(102, 45, 145, 1);			//#662D91
$odu_hotPink: rgba(223, 0, 112, 1);			//#DF0070

$ple_briteBlue: rgba(0, 149, 200, 1);		//#0095C8
$ple_turquiose:	rgba(0, 132, 168, 1);		//#0084A8
$ple_darkTurquoise: rgba(0, 103, 127, 1);	//#00677F
$ple_blue: rgba(24, 55, 95, 1);				//#18375F
$ple_darkBlue: $odu_darkBlue;				//ok with this being redundant
$ple_orange: rgba(255, 168, 64, 1);			//#FFA840
$ple_darkOrange:rgba(224, 131, 30, 1), 		//#E0831E;


	




