.odu_i_content_area {
  margin: 0px auto 0px auto; }
  .odu_i_content_area h4 {
    line-height: 140%;
    font-weight: 100; }

.odu_i_content_area {
  border-radius: 0px; }

.odu_i_row {
  margin: 0px auto 0px auto;
  clear: both; }

.odu_i_attention, .odu_i_validate, .odu_i_fb_mark_box, .odu_i_tbl_mark_box, .odu_i_validate2 {
  padding: 10px;
  background: #fffdd9;
  border: 1px solid #bdbba0; }

/*utilities*/
.odu_i_clear {
  clear: both; }

.odu_i_hidden, .odu_i_display_none {
  display: none; }

.odu_i_screen_reader_label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.odu_i_validate {
  font-weight: bold; }

.odu_i_circle {
  border: 2px solid #050505;
  border-radius: 20px;
  padding: 0px 7px;
  font-size: smaller; }

.odu_i_display_block {
  display: block; }

.odu_i_mark_area {
  width: 15px; }

.odu_i_margin_bottom, .odu_i_add_margin_bottom {
  margin-bottom: 10px; }

.odu_i_column {
  float: left; }

.odu_i_column .column_title {
  text-align: center;
  font-weight: bold; }

.odu_i_test_border {
  border: 1px solid #bdbba0; }

.odu_i_c {
  color: #0c6006; }

.odu_i_x {
  color: #be1e2d; }

@media print {
  .odu_i_button_area {
    display: none; } }
/*instructions or directions box*/
.odu_i_instructions {
  background: aliceblue;
  padding: 0px 10px;
  border: 1px solid #0095c8;
  margin-bottom: 10px; }
  .odu_i_instructions h4 {
    font-weight: bold;
    font-size: large;
    margin: 10px 0px;
    color: #0095c8; }

.odu_i_instructions ul {
  padding-left: 25px; }

.odu_i_special_box {
  border: 1px solid #c8c8c8;
  padding: 10px;
  margin: 0px auto; }

.odu_i_special_indent5 {
  margin-left: 5%; }

.odu_i_bold_centered {
  font-weight: bold;
  text-align: center; }

.odu_i_text_center {
  text-align: center; }

.odu_i_switch_buttons_area {
  background: #fafafa;
  padding: 10px;
  border: 1px #c8c8c8 solid;
  margin-bottom: 10px; }

/*buttons*/
.odu_i_content_area button {
  border: 0px;
  padding: 8px 18px;
  margin: 0px 3px 0px 3px; }

.odu_i_button {
  background: #0095c8;
  text-align: center;
  display: inline-block;
  opacity: 1.90;
  color: white;
  filter: alpha(opacity=80);
  border-radius: 0px; }
  .odu_i_button:hover {
    cursor: pointer;
    background: #006f95; }

.odu_i_button_small {
  border: 0px;
  padding: 6px 12px;
  margin: 0px 2px; }

.odu_i_button_error {
  background: #dc143c;
  text-align: center;
  display: inline-block;
  opacity: 1.90;
  color: white;
  filter: alpha(opacity=80);
  border-radius: 0px; }
  .odu_i_button_error:hover {
    cursor: pointer;
    background: #ad102f; }

.odu_i_button_retry {
  background: #0c6006;
  text-align: center;
  display: inline-block;
  opacity: 1.90;
  color: white;
  filter: alpha(opacity=80);
  border-radius: 0px; }
  .odu_i_button_retry:hover {
    cursor: pointer;
    background: #063003; }

.odu_i_button_misc {
  background: #7d7d7d;
  text-align: center;
  display: inline-block;
  opacity: 1.90;
  color: white;
  filter: alpha(opacity=80);
  border-radius: 0px; }
  .odu_i_button_misc:hover {
    cursor: pointer;
    background: #636363; }

.odu_i_button_review {
  background: #662d91;
  text-align: center;
  display: inline-block;
  opacity: 1.90;
  color: white;
  filter: alpha(opacity=80);
  border-radius: 0px; }
  .odu_i_button_review:hover {
    cursor: pointer;
    background: #4b216a; }

.odu_i_button_print {
  background: #df0070;
  text-align: center;
  display: inline-block;
  opacity: 1.90;
  color: white;
  filter: alpha(opacity=80);
  border-radius: 0px; }
  .odu_i_button_print:hover {
    cursor: pointer;
    background: #ac0056; }

.odu_i_button_switch {
  background: #662d91;
  text-align: center;
  display: inline-block;
  opacity: 1.90;
  color: white;
  filter: alpha(opacity=80);
  border-radius: 0px; }
  .odu_i_button_switch:hover {
    cursor: pointer;
    background: #4b216a; }

.odu_i_button_area {
  margin-top: 10px; }

/*panels for feedback or misc*/
.odu_i_panel, .odu_i_panel_success, .odu_i_panel_error, .odu_i_panel_retry {
  margin: 10px auto; }

.odu_i_panel_header, .odu_i_panel_content, .odu_i_panel_retry .odu_i_panel_content {
  background: aliceblue;
  padding: 10px;
  border: 1px solid #c8c8c8;
  color: #050505;
  border-radius: 0px 0px 0px 0px; }

.odu_i_panel_content {
  background: white;
  color: #050505;
  border-top: 0px;
  border-radius: 0px 0px 0px 0px; }

.odu_i_panel_success .odu_i_panel_header, .odu_i_panel_success .odu_i_panel_content {
  background: #d4fecc;
  border: 1px solid #c8c8c8;
  color: #050505; }
.odu_i_panel_success .odu_i_panel_content {
  border: 1px solid #c8c8c8;
  background: white;
  color: #050505; }

.odu_i_panel_error .odu_i_panel_header, .odu_i_panel_error .odu_i_panel_content {
  background: #ffdbdb;
  border: 1px solid #c8c8c8;
  color: #050505; }
.odu_i_panel_error .odu_i_panel_content {
  border: 1px solid #c8c8c8;
  background: white;
  color: #050505; }

.odu_i_panel_retry .odu_i_panel_header, .odu_i_panel_retry .odu_i_panel_content {
  background: #fffdd9;
  padding: 10px;
  border: 1px solid #c8c8c8;
  color: #050505;
  border-radius: 0px 0px 0px 0px; }
.odu_i_panel_retry .odu_i_panel_content {
  background: white;
  color: #050505;
  border-top: 0px;
  border-radius: 0px 0px 0px 0px; }

/*utitlies for items*/
.odu_i_content_area label {
  font-weight: 100; }

.odu_i_item_background, .odu_i_mc_item, .odu_i_cb_item, .odu_i_fi_item, .odu_i_qna_item, .odu_i_fb_item, .odu_i_sr_item, .odu_i_reveal_item, .odu_i_dr_sr_item {
  background: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #c8c8c8; }

.odu_i_score {
  color: #0c6006;
  font-weight: bold; }

.odu_i_display_score, .odu_i_start_over {
  display: none; }

.odu_i_title {
  font-weight: bold;
  text-align: center;
  margin: 10px; }

/* _mc(multiple choice) and _cb (chekcbox, multiple-answers)*/
.odu_i_mc_item, .odu_i_cb_item {
  margin-left: 0px; }

.odu_i_mc, .odu_i_cb, .odu_i_mc_item, .odu_i_cb_item {
  clear: both; }
  .odu_i_mc .odu_i_panel_success, .odu_i_mc .odu_i_panel_error, .odu_i_mc .odu_i_panel_retry, .odu_i_cb .odu_i_panel_success, .odu_i_cb .odu_i_panel_error, .odu_i_cb .odu_i_panel_retry, .odu_i_mc_item .odu_i_panel_success, .odu_i_mc_item .odu_i_panel_error, .odu_i_mc_item .odu_i_panel_retry, .odu_i_cb_item .odu_i_panel_success, .odu_i_cb_item .odu_i_panel_error, .odu_i_cb_item .odu_i_panel_retry {
    margin: 0%; }
  .odu_i_mc fieldset, .odu_i_mc legend, .odu_i_cb fieldset, .odu_i_cb legend, .odu_i_mc_item fieldset, .odu_i_mc_item legend, .odu_i_cb_item fieldset, .odu_i_cb_item legend {
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border: none 0px; }

.odu_i_mc_item input[type=radio], .odu_i_cb_item input[type=checkbox] {
  margin-right: 3px;
  margin-top: 0px; }

.odu_i_mark_area,
.odu_i_mc_item input[type=radio],
.odu_i_cb_item input[type=checkbox],
.odu_i_mc_item label,
.odu_i_mc_item input[type=checkbox] {
  float: left;
  float: left;
  cursor: pointer; }

.odu_i_mc_item label, .odu_i_cb_item label {
  width: 80%; }

.odu_i_mc_key, .odu_i_score_total {
  font-weight: bold; }

.odu_i_mc_all, .odu_i_cb_all {
  display: block; }

.odu_i_mc_explanation, .odu_i_cb_explanation {
  display: none; }

/* _fi (identification, fill-in, question and answer)*/
.odu_i_fi_item, .odu_i_qna_item {
  margin-top: 10px; }

.odu_i_fi_item label, .odu_i_qna_item {
  padding-bottom: 10px; }

.odu_i_fi_item input[type=text], .odu_i_qna_item textarea {
  width: 85%;
  padding: 5px;
  float: left;
  margin: 0px 5px 0px 0px; }

.odu_i_fi_item .odu_i_mark_area, .odu_i_qna_item .odu_i_mark_area {
  margin-right: 2px;
  display: none;
  float: left;
  margin-top: 5px; }

.odu_i_fi_A, .odu_i_fi_explanation, .odu_i_qna_a, .odu_i_qna_explanation {
  display: none; }

.odu_i_qna_item textarea {
  padding: 5px;
  font-size: 13px;
  font-family: inherit; }

/* _drop (matching-type, drop-downs)*/
.odu_i_drop_item_question, .odu_i_drop_item_a, .odu_i_drop_explanation {
  display: none; }

.odu_i_drop_columns {
  margin: 10px auto;
  background: #fafafa;
  border: 1px solid #c8c8c8;
  padding: 5px; }

.odu_i_drop_item label {
  float: left;
  max-width: 70%;
  padding: 0px 5px; }

.odu_i_drop_item select {
  float: left;
  margin: 0px 2px; }

.odu_i_drop_choices_list {
  list-style: none; }

.odu_i_drop_main_question {
  padding: 5px; }

/*dr=drag and drop*/
.odu_i_dr_drop_A {
  display: none; }

.odu_i_dr_drag_area div {
  margin: 10px auto; }

.odu_i_dr_mark_area {
  margin: 2px;
  display: none; }

.odu_i_dr_mark_area,
.odu_i_dr_drop {
  float: left; }

.odu_i_dr_incorrect,
.odu_i_dr_correct {
  display: none; }

.odu_i_dr_incorrect {
  color: #be1e2d;
  float: left;
  width: 10px;
  font-weight: bold; }

.odu_i_dr_correct {
  color: #0c6006;
  float: left;
  width: 10px;
  font-weight: bold; }

.odu_i_dr_drop_wrapper {
  margin-top: 10px;
  width: 220px; }

.odu_i_dr_answer_column_name {
  display: none; }

/*fb = fill in the blanks*/
.odu_i_fb_explanation {
  display: none; }

.odu_i_fb_input,
.odu_i_fb_phrase {
  display: inline-block; }

.odu_i_fb_mark_box {
  padding: 3px; }

.odu_i_fb_mark {
  display: none;
  text-align: center;
  padding: 2px 0px; }

.odu_i_fb_item input[type="text"] {
  width: 150px; }

.odu_i_fb_A {
  display: none; }

.odu_i_fb_incorrect_feedback, .odu_i_tbl_incorrect_feedback {
  text-align: left;
  padding-top: 3px;
  border-top: 1px solid #c8c8c8; }

/*tbl = complete the table*/
.odu_i_table_area {
  overflow-x: auto;
  margin: 15px auto; }
  .odu_i_table_area h4 {
    text-align: center;
    font-weight: bold; }

.odu_i_table_wborder {
  width: 100%;
  border: 1px solid #fafafa;
  border-collapse: collapse; }
  .odu_i_table_wborder th, .odu_i_table_wborder td {
    padding: 10px;
    border: 1px solid #c8c8c8; }
  .odu_i_table_wborder th {
    background-color: #18375f;
    color: white; }
  .odu_i_table_wborder td {
    vertical-align: middle; }

.odu_i_table_area td input[type=text] {
  padding: 5px 0px 5px 2px;
  width: 96%; }

.odu_i_tbl_mark {
  text-align: center;
  display: none;
  padding: 3px 0px; }

.odu_i_tbl_item_A {
  display: none;
  text-align: center; }

.odu_i_tbl_explanation {
  display: none; }

.odu_i_validate2 {
  padding: 5px;
  font-weight: 100;
  text-align: center;
  font-size: smaller; }

/* _sr short response, short-answer, open-ended*/
.odu_i_sr_item label {
  margin-bottom: 10px; }

.odu_i_sr_item textarea {
  width: 100%;
  height: 120px;
  margin: 5px auto;
  font-family: inherit;
  font-size: small; }

.odu_i_sr_item_explanation {
  display: none; }

.odu_i_display_print_div, .odu_i_sr_panel_explanation {
  display: none; }

/* _reveal (reveal button, show answer button activity)*/
.odu_i_reveal_answer {
  display: none; }

.odu_i_reveal_item_question {
  margin-bottom: 10px; }

.odu_i_reveal_button {
  margin-bottom: 10px; }

/* _order=rank/order */
.odu_i_order_item {
  margin: 10px auto;
  padding: 0px;
  width: 80%; }

.odu_i_order_item_content {
  float: left; }

.odu_i_order_item li {
  border: 1px solid #c8c8c8;
  list-style: none;
  cursor: pointer;
  margin: 10px 0px;
  padding: 5px; }

.odu_i_order_item li h4 {
  font-weight: bold; }

.odu_i_order_indicator_default {
  background: #fafafa; }

.odu_i_order_indicator_check {
  background: #fffdd9; }

.odu_i_order_index {
  display: none; }

.odu_i_order_correct {
  font-weight: bold;
  font-size: medium;
  color: #0c6006;
  width: 35px; }

.odu_i_order_incorrect {
  font-weight: bold;
  font-size: medium;
  color: #be1e2d;
  width: 20px; }

/* drag drop */
.odu_i_dr_basket_item {
  float: left;
  border: 1px solid #c8c8c8;
  background: #fafafa;
  width: 80%; }

.odu_i_dr_drag_object {
  padding: 10px;
  background: white;
  border: 1px solid #c8c8c8;
  margin: 0px auto 5px auto;
  text-align: center;
  max-width: 90%; }

.odu_i_dr_phrase {
  text-align: left; }

.odu_i_dr_drag_object .odu_i_mark_area {
  width: 20px;
  display: none; }

.odu_i_dr_text {
  width: 90%; }

.odu_i_dr_a {
  display: none; }

.odu_i_dr_drag_object_box_title {
  font-weight: bold;
  display: none;
  margin: 5px;
  text-align: center; }

.odu_i_dr_drag_object_box {
  padding: 10px;
  border: 1px solid #c8c8c8;
  background: #fafafa;
  float: left;
  max-width: 25%;
  position: relative; }

.odu_i_dr_basket_text {
  padding: 10px; }

.odu_i_dr_drag_object_box h4, .odu_i_dr_basket_text h4 {
  text-align: center;
  font-weight: bold;
  margin: 5px; }

.odu_i_dr_basket_area {
  float: right;
  width: 65%; }

.odu_i_state_drop {
  background: aliceblue;
  border: 1px solid #0095c8;
  cursor: not-allowed; }

.odu_i_dr_set {
  background: #fffdd9;
  border: 1px solid #bdbba0; }

/*dr_sr screen reader version of dragdrop */
.odu_i_dr_sr_item {
  margin: 10px; }

.odu_i_dr_sr_item h4 {
  font-weight: bold; }

.odu_i_dr_sr_wrapper {
  float: left;
  width: 90%; }

.odu_i_dr_sr_wrapper label {
  font-size: small;
  font-weight: bold; }

.odu_i_dr_sr_wrapper select {
  padding: 5px; }

.odu_i_dr_sr_a {
  display: none; }

.odu_i_dr_sr_wrapper .odu_i_mark_area {
  width: 35px;
  font-size: medium;
  font-weight: bold; }

/*# sourceMappingURL=odu_activities[current].css.map */
